<launch>

<rosparam file="$(find anael_description)/launch/controller.yaml" command="load"/>
<node args="basj1_position_controller basj2_position_controller basj3_position_controller basj4_position_controller ij1_position_controller ij3_position_controller ij4_position_controller ij5_position_controller oj1_position_controller oj3_position_controller oj4_position_controller oj5_position_controller yj1_position_controller yj3_position_controller yj4_position_controller yj5_position_controller sj1_position_controller sj3_position_controller sj4_position_controller sj5_position_controller joint_state_controller " name="controller_spawner" ns="anael" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/anael/joint_states"/>
</node>

</launch>